sudo: false
language: python
python:
  - 3.5
  - 3.6
#env:
#  global:
#    - PIP_DISABLE_PIP_VERSION_CHECK=on
install: "pip install pytest && pip install ."
script: py.test # for backwards-compatibility with python 3.5 and below
