[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

python-telegram-bot = "~=9.0"
requests-html = "*"
lxml = "*"
"html5lib" = "*"
cachecontrol = "*"
click = "*"
click-datetime = "*"
click-log = "*"
pendulum = "*"
mensa-ukon = {path = "."}


[dev-packages]

# In dev mode we want to be able to just edit our library
# `pipenv install --dev`
mensa-ukon = {path = ".", editable = true}
requests-file = ">=1.4.0"
pytest = ">=2.8.0"
