[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

requests-html = "*"
# Specify packages that are needed for a _specific_ instance of a running bot (e.g. in 'scripts/...').
# In `setup.py` all library dependencies will be located. This way, `Pipfile.lock` can pin mensa-ukon's transitive deps
# for a running bot.
# Just use `pipenv install`
mensa-ukon = {path = "."}


[dev-packages]
# In dev mode we want to be able to just edit our library
# `pipenv install --dev`

mensa-ukon = {path = ".", editable = true}
pytest = "*"
