[Unit]
Description=Telegram Mensa Bot for %I
Documentation=https://github.com/enplotz/mensa_ukon
After=syslog.target

[Service]
Type=simple
User=%I
Group=%I
WorkingDirectory=/home/%I/mensa_ukon/
# This seems to be fixed now: https://github.com/systemd/systemd/pull/4835
# Previously, we could not expand %i/%I in ExecStart, so the following did not work for and needed to be hardcoded:
ExecStart=/home/%I/.local/bin/mensa_bot
#ExecStart=/home/ubuntu/.local/bin/mensa_bot
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
