# Put the token that you got from the BotFather here.
PTB_TELEGRAM_BOT_TOKEN=...
PTB_LOG_CONF=logging.yaml
PTB_USE_POLLING=True
PTB_WORKERS=4
# If you use the webhook API, then you should put the bot behind a webserver that handles SSL
# For self-signed certificates, make sure that the CN in the certificate matches the webhook's host name.
PTB_WEBHOOK_URL=
# listen on all interfaces
PTB_WEBHOOK_LISTEN_IP=0.0.0.0
# on port
PTB_WEBHOOK_LISTEN_PORT=8080
